.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 1319.8500000000001px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 11px;
}

#pmenuu3940
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 374px;
}

#menuu3940
{
	z-index: 37;
	width: 446px;
	margin-right: -10000px;
}

#u3983
{
	width: 87px;
	min-height: 90px;
	margin-right: -10000px;
}

#u3986
{
	width: 87px;
	padding-bottom: 77px;
}

#u3986:hover
{
	margin: 0px;
}

#u3989-4
{
	width: 87px;
	min-height: 13px;
	margin-right: -10000px;
	top: 38px;
}

#u3986:hover #u3989-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3969
{
	width: 87px;
	min-height: 90px;
	margin-right: -10000px;
	left: 89px;
}

#u3972
{
	width: 87px;
	padding-bottom: 77px;
}

#u3986.MuseMenuActive,#u3972:hover
{
	margin: 0px;
}

#u3975-4
{
	width: 87px;
	min-height: 13px;
	margin-right: -10000px;
	top: 38px;
}

#u3986.MuseMenuActive #u3989-4,#u3972:hover #u3975-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3955
{
	width: 88px;
	min-height: 90px;
	margin-right: -10000px;
	left: 178px;
}

#u3956
{
	width: 88px;
	padding-bottom: 77px;
}

#u3972.MuseMenuActive,#u3956:hover
{
	margin: 0px;
}

#u3958-4
{
	width: 88px;
	min-height: 13px;
	margin-right: -10000px;
	top: 38px;
}

#u3972.MuseMenuActive #u3975-4,#u3956:hover #u3958-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3962
{
	width: 88px;
	min-height: 90px;
	margin-right: -10000px;
	left: 268px;
}

#u3963
{
	width: 88px;
	padding-bottom: 77px;
}

#u3956.MuseMenuActive,#u3963:hover
{
	margin: 0px;
}

#u3966-4
{
	width: 88px;
	min-height: 13px;
	margin-right: -10000px;
	top: 38px;
}

#u3956.MuseMenuActive #u3958-4,#u3963:hover #u3966-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3976
{
	width: 88px;
	min-height: 90px;
	margin-right: -10000px;
	left: 358px;
}

#u3977
{
	width: 88px;
	padding-bottom: 77px;
}

#u3963.MuseMenuActive,#u3977:hover
{
	margin: 0px;
}

#u3977.MuseMenuActive
{
	margin: 0px;
}

#u3980-4
{
	width: 88px;
	min-height: 13px;
	margin-right: -10000px;
	top: 38px;
}

#u3963.MuseMenuActive #u3966-4,#u3977:hover #u3980-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3977.MuseMenuActive #u3980-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3990
{
	z-index: 68;
	width: 17px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 36px;
}

#u3992
{
	z-index: 70;
	width: 17px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 124px;
}

#u3994
{
	z-index: 72;
	width: 21px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 213px;
}

#u3996
{
	z-index: 74;
	width: 17px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 304px;
}

#u3998
{
	z-index: 76;
	width: 17px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 394px;
}

#u3990:hover,#u3992:hover,#u3994:hover,#u3996:hover,#u3998:hover
{
	margin: 57px -10000px 0px 0px;
}

#u3933-4
{
	z-index: 9;
	width: 116px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u3934-4
{
	z-index: 13;
	width: 199px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 58px;
}

#pu4369
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u4369
{
	z-index: 78;
	width: 1178px;
	border-width: 1px;
	border-style: solid;
	border-color: #CACACA;
	padding-bottom: 39px;
	position: relative;
	margin-right: -10000px;
	background: #E4E4E4 url("../images/background.jpg") repeat left top;
}

#u4369_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 978px;
	position: relative;
	left: -100px;
}

#u4370-4
{
	z-index: 79;
	width: 130px;
	min-height: 29px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 179px;
}

#u4372-4
{
	z-index: 87;
	width: 69px;
	min-height: 17px;
	font-size: 11px;
	color: #A2A2A2;
	text-align: left;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 845px;
}

#u4373-4
{
	z-index: 91;
	width: 49px;
	min-height: 17px;
	font-size: 11px;
	color: #7F7F7F;
	text-align: left;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 921px;
}

#u4374-4
{
	z-index: 95;
	width: 42px;
	min-height: 17px;
	font-size: 11px;
	color: #8F2E20;
	text-align: left;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 970px;
}

#u4371-4
{
	z-index: 83;
	width: 235px;
	min-height: 17px;
	font-size: 11px;
	color: #7F7F7F;
	text-align: left;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 180px;
}

#ppu4375-4
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 31px;
	position: relative;
}

#pu4375-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u4375-4
{
	z-index: 99;
	width: 320px;
	min-height: 17px;
	position: relative;
}

#u4376-10
{
	z-index: 103;
	width: 610px;
	min-height: 177px;
	margin-top: 18px;
	position: relative;
}

#u4417
{
	z-index: 195;
	width: 178px;
	border-width: 1px;
	border-style: solid;
	border-color: #D1D1D1;
	background-color: #E4E4E4;
	padding-bottom: 119px;
	position: relative;
	margin-right: -10000px;
	left: 640px;
}

#u4418
{
	z-index: 196;
	width: 79px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 19px;
}

#u4420-4
{
	z-index: 198;
	width: 140px;
	min-height: 108px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 660px;
}

#u4421-4
{
	z-index: 202;
	width: 121px;
	min-height: 29px;
	font-size: 11px;
	color: #8F2E20;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 670px;
}

#u4385
{
	z-index: 121;
	width: 320px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #E4E4E4;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u4387-4
{
	z-index: 123;
	width: 180px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 320px;
}

#u4386
{
	z-index: 122;
	width: 320px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #E4E4E4;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 500px;
}

#u4388-4
{
	z-index: 127;
	width: 235px;
	min-height: 17px;
	font-size: 11px;
	color: #7F7F7F;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-style: italic;
	margin-left: 372px;
	position: relative;
}

#pu4385,#pu4377
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 24px;
	position: relative;
}

#u4377
{
	z-index: 113;
	width: 186px;
	border-width: 1px;
	border-style: solid;
	border-color: #8F2E20;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4379
{
	z-index: 115;
	width: 186px;
	border-width: 1px;
	border-style: solid;
	border-color: #8F2E20;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 212px;
}

#u4381
{
	z-index: 117;
	width: 186px;
	border-width: 1px;
	border-style: solid;
	border-color: #8F2E20;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u4383
{
	z-index: 119;
	width: 186px;
	border-width: 1px;
	border-style: solid;
	border-color: #8F2E20;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 632px;
}

#u4377_clip,#u4379_clip,#u4381_clip,#u4383_clip
{
	overflow: hidden;
	width: 186px;
	height: 190px;
}

#ppmenuu3940,#ppu4396
{
	width: 0.01px;
	margin-left: 80px;
	position: relative;
}

#pu4396
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 212px;
}

#u4396
{
	z-index: 147;
	width: 173px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #E4E4E4;
	position: relative;
	margin-right: -10000px;
	padding: 20px 7px 13px 6px;
	border-width: 0px 1px 1px;
}

#u4397-4
{
	z-index: 148;
	width: 140px;
	min-height: 29px;
	margin-left: 13px;
	position: relative;
}

#u4398-4
{
	z-index: 152;
	width: 173px;
	min-height: 56px;
	text-align: center;
	margin-top: 30px;
	position: relative;
}

#u4399
{
	z-index: 156;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/facebook.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4400
{
	z-index: 157;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	left: 27px;
	background: transparent url("../images/twitter.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4401
{
	z-index: 158;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	left: 55px;
	background: transparent url("../images/linkedin.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4402-4
{
	z-index: 159;
	width: 173px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 7px;
}

#pu4410
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 632px;
}

#u4410
{
	z-index: 179;
	width: 173px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #E4E4E4;
	position: relative;
	margin-right: -10000px;
	padding: 20px 7px 13px 6px;
	border-width: 0px 1px 1px;
}

#u4411-4
{
	z-index: 180;
	width: 140px;
	min-height: 29px;
	margin-left: 13px;
	position: relative;
}

#u4412-4
{
	z-index: 184;
	width: 173px;
	min-height: 56px;
	text-align: center;
	margin-top: 30px;
	position: relative;
}

#u4413
{
	z-index: 188;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/facebook.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4414
{
	z-index: 189;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	left: 27px;
	background: transparent url("../images/twitter.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4415
{
	z-index: 190;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	left: 55px;
	background: transparent url("../images/linkedin.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4416-4
{
	z-index: 191;
	width: 173px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 7px;
}

#u4389
{
	z-index: 131;
	width: 173px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #E4E4E4;
	position: relative;
	margin-right: -10000px;
	padding: 20px 7px 13px 6px;
	border-width: 0px 1px 1px;
}

#u4390-4
{
	z-index: 132;
	width: 140px;
	min-height: 29px;
	margin-left: 13px;
	position: relative;
}

#u4391-4
{
	z-index: 136;
	width: 173px;
	min-height: 56px;
	text-align: center;
	margin-top: 30px;
	position: relative;
}

#u4392
{
	z-index: 140;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/facebook.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4393
{
	z-index: 141;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	left: 27px;
	background: transparent url("../images/twitter.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4394
{
	z-index: 142;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	left: 55px;
	background: transparent url("../images/linkedin.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4395-4
{
	z-index: 143;
	width: 173px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 7px;
}

#u4403
{
	z-index: 163;
	width: 173px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #E4E4E4;
	position: relative;
	margin-right: -10000px;
	left: 420px;
	padding: 20px 7px 13px 6px;
	border-width: 0px 1px 1px;
}

#u4404-4
{
	z-index: 164;
	width: 140px;
	min-height: 29px;
	margin-left: 13px;
	position: relative;
}

#u4405-4
{
	z-index: 168;
	width: 173px;
	min-height: 56px;
	text-align: center;
	margin-top: 30px;
	position: relative;
}

#pu4399,#pu4413,#pu4392,#pu4406
{
	width: 0.01px;
	margin-left: 43px;
	margin-top: 15px;
	position: relative;
}

#u4406
{
	z-index: 172;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/facebook.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4407
{
	z-index: 173;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	left: 27px;
	background: transparent url("../images/twitter.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4408
{
	z-index: 174;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	left: 55px;
	background: transparent url("../images/linkedin.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4409-4
{
	z-index: 175;
	width: 173px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 427px;
}

#u4474
{
	z-index: 276;
	width: 818px;
	border-width: 1px;
	border-style: solid;
	border-color: #D1D1D1;
	background-color: #E4E4E4;
	padding-bottom: 13px;
	margin-left: 80px;
	margin-top: 53px;
	position: relative;
}

#u4475-6
{
	z-index: 277;
	width: 521px;
	min-height: 29px;
	font-size: 21px;
	color: #7F7F7F;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 39px;
}

#u4475-2
{
	color: #9D473B;
}

#u4476-4
{
	z-index: 283;
	width: 205px;
	min-height: 39px;
	font-size: 30px;
	color: #3C3C3C;
	text-align: center;
	font-family: lobster, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 561px;
}

#pu4422
{
	width: 0.01px;
	left: -100px;
	margin-top: 53px;
	position: relative;
}

#u4422
{
	z-index: 206;
	width: 1179px;
	border-width: 1px;
	border-style: solid;
	border-color: #CACACA;
	padding-bottom: 27px;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
	background: #E4E4E4 url("../images/background.jpg") repeat left top;
}

#u4422_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 979px;
	position: relative;
	left: -100px;
}

#u4446-4
{
	z-index: 228;
	width: 180px;
	min-height: 24px;
	font-size: 18px;
	color: #717171;
	text-align: left;
	font-family: lobster, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 179px;
}

#pu4448-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 449px;
}

#u4448-4
{
	z-index: 236;
	width: 180px;
	min-height: 24px;
	font-size: 18px;
	color: #717171;
	text-align: left;
	font-family: lobster, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu4454
{
	width: 0.01px;
	margin-top: 14px;
	position: relative;
}

#u4454
{
	z-index: 256;
	width: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4456
{
	z-index: 258;
	width: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 56px;
}

#u4458
{
	z-index: 260;
	width: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 113px;
}

#u4460
{
	z-index: 262;
	width: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 171px;
}

#pu4464
{
	width: 0.01px;
	margin-top: 4px;
	position: relative;
}

#u4464
{
	z-index: 266;
	width: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4466
{
	z-index: 268;
	width: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 56px;
}

#u4468
{
	z-index: 270;
	width: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 113px;
}

#u4470
{
	z-index: 272;
	width: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 171px;
}

#pu4462
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 678px;
}

#u4462
{
	z-index: 264;
	width: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u4472
{
	z-index: 274;
	width: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
}

#u4454_clip,#u4456_clip,#u4458_clip,#u4460_clip,#u4464_clip,#u4466_clip,#u4468_clip,#u4470_clip,#u4462_clip,#u4472_clip
{
	overflow: hidden;
	width: 48px;
	height: 48px;
}

#u4377_img,#u4379_img,#u4381_img,#u4383_img,#u4454_img,#u4456_img,#u4458_img,#u4460_img,#u4464_img,#u4466_img,#u4468_img,#u4470_img,#u4462_img,#u4472_img
{
	margin: -1px;
}

#pu4447-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 819px;
}

#u4447-4
{
	z-index: 232;
	width: 180px;
	min-height: 24px;
	font-size: 18px;
	color: #717171;
	text-align: left;
	font-family: lobster, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4453-12
{
	z-index: 244;
	width: 240px;
	min-height: 66px;
	margin-top: 20px;
	position: relative;
}

#pu4449
{
	width: 0.01px;
	margin-top: 20px;
	position: relative;
}

#u4449
{
	z-index: 240;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/facebook.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4399:hover,#u4413:hover,#u4392:hover,#u4406:hover,#u4449:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/facebook2.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4450
{
	z-index: 241;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	left: 30px;
	background: transparent url("../images/twitter.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4400:hover,#u4414:hover,#u4393:hover,#u4407:hover,#u4450:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/twitter2.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4451
{
	z-index: 242;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	left: 60px;
	background: transparent url("../images/google-.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4451:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/google-2.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4452
{
	z-index: 243;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
	background: transparent url("../images/linkedin.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4401:hover,#u4415:hover,#u4394:hover,#u4408:hover,#u4452:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/linkedin2.jpg") no-repeat left top;
	background-size: contain !important;
}

#pamphletu4423
{
	z-index: 207;
	width: 0.01px;
	height: 118px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 180px;
}

#u4437
{
	z-index: 208;
	width: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
}

#u4438
{
	position: absolute;
	width: 17px;
	height: 5px;
	border-style: none;
	border-color: transparent;
	background-color: #D1D1D1;
}

#u4439
{
	position: absolute;
	width: 18px;
	height: 5px;
	border-style: none;
	border-color: transparent;
	background-color: #D1D1D1;
	left: 23px;
}

#u4440
{
	position: absolute;
	width: 17px;
	height: 5px;
	border-style: none;
	border-color: transparent;
	background-color: #D1D1D1;
	left: 48px;
}

#u4438.PamphletThumbSelected,#u4439.PamphletThumbSelected,#u4440.PamphletThumbSelected
{
	background-color: #8F2E20;
	margin: 0px;
}

#u4428
{
	position: absolute;
	width: 180px;
}

#u4428popup
{
	z-index: 212;
}

#u4431
{
	z-index: 213;
	width: 180px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4432-4
{
	z-index: 214;
	width: 180px;
	min-height: 93px;
	font-size: 12px;
	color: #7F7F7F;
	text-align: left;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u4433
{
	z-index: 218;
	width: 180px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4434-4
{
	z-index: 219;
	width: 180px;
	min-height: 93px;
	font-size: 12px;
	color: #7F7F7F;
	text-align: left;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u4429
{
	z-index: 223;
	width: 180px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4430-4
{
	z-index: 224;
	width: 180px;
	min-height: 93px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu3932-7
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 11px;
	position: relative;
}

#u3932-7
{
	z-index: 2;
	width: 400px;
	min-height: 14px;
	margin-right: -10000px;
}

#u3935-4
{
	z-index: 17;
	width: 80px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 440px;
}

#u3936-4
{
	z-index: 21;
	width: 80px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 520px;
}

#u3937-4
{
	z-index: 25;
	width: 80px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 603px;
}

#u3938-4
{
	z-index: 29;
	width: 80px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 680px;
}

#u3939-4
{
	z-index: 33;
	width: 80px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 760px;
}

#u3935-4:hover,#u3936-4:hover,#u3937-4:hover,#u3938-4:hover,#u3939-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 1px -10000px 0px 0px;
}

#page .verticalspacer
{
	clear: both;
}

